body {
	font-family: Lato;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}

#box {
	position: relative;
	width: 300px;
	height: 160px;
	background-color: #ffffff;
	margin: 0px auto;
	top: 30%;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #888888;
}

#box table {
	padding: 20px;
	margin: 0px;
	width: 100%;
}

#box tr {
	height: 40px;
}

#box tr td{
	color: #888888;
	font-size: 16px;
}

#box tr td span{
	font-size: 14px;
	padding-top: 20px;
}

#error {
	color: red;
}

#box tr td input{
	height: 30px;
	padding: 5px;
	width: 100%;
	font-family: Lato;
	font-size: 14px;
	border: 1px solid #c1c1c1;
	color: #888888;
	border-radius: 3px;
}

#box tr td input:hover{
	border: 1px solid #888888;
}
#box tr td input:focus{
	border: 1px solid #888888;
}

#botoncito {
	width: 100px;
	height: 23px;
	background-color: #6CD335;
	border: 1px solid #3AA600;
	background-image: url('/tickets/images/flecha_d1_blanco.png');
	background-position: 8px 4px;
	background-repeat: no-repeat;
	border-radius: 3px;
	cursor: pointer;
	padding: 6px 0px 0px 0px;
	text-align:center;
	color: white;
	font-size: 17px;
}

#botoncito:hover {
	background-color: 3AA600;
	text-decoration: underline;
}