body {
	font-family: Lato;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #e8e8e8;
}

#links {
	position: relative;
	width: 90%;
	height: 90%;
	background-color: #ffffff;
	margin: 0px auto;
	top: 5%;
	border: 1px solid #a1a1a1;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #888888;
}


#links ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#links ul li {
	display: inline-block;
	vertical-align: top;
}

#liEnlaces {
	width: 120px;
}


#enlaces{
	width: 100px;
	height: 97%;
	padding: 10px;
	border-right: 1px solid #c1c1c1;
}

#enlaces ul {
	list-style-type: none;
    margin: 0px;
}

#enlaces ul li {
	display: block;
	vertical-align: top;
	padding-top: 5px;
	color: #888888;
}
#enlaces ul li:hover {
	color: #222222;
	text-decoration: underline;
	cursor: pointer;
}

#liContent { 
	width:75%;
	padding: 14px;
}

#content {
	
}
