textarea {
	font-family: Lato;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	width: 100%;
	height: 100px;
}
#codigo,#texto,#search {
	font-family: Lato;
	font-size: 16px;
	padding: 5px;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	width: 100%;
}
#listaTextos {
	height:400px;
	overflow-y:scroll;
	padding: 5px;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
}