<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'a_meta.twig' %}
        <title>bet | stats</title>
        {% include 'a_css.twig' %}
    </head>

    <body>

        {% include 'a_nav.twig' %}

        <div class="container">
                
            <div class="row">
                <div class="col-md-12">
                    <h3>Elija dos equipos para consultar sus estadísticas.</h3>
                </div>
            </div>
                            
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="post">
                    
                        <div style="padding: 5px;">
                            <select class="form-control" name="team1">
                                <option>Elija un equipo</option>
                                {% for item in aEquipos %}
                                    <option value="{{item}}" {% if item==team1 %} selected {% endif %} >{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="padding: 5px;">
                            <select class="form-control" name="team2">
                                <option>Elija un equipo</option>
                                {% for item in aEquipos %}
                                    <option value="{{item}}" {% if item==team2 %} selected {% endif %} >{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="padding: 5px;">
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>
                        
                        <input type="hidden" name="pagina" value="encuentros">
                        <input type="hidden" name="accion" value="buscar">

                    </form>
                </div>
            
                <div class="col-md-4">
                
                    {% if listaPartidos|length > 0 %}
                        <div style="margin-top:10px;">
                            Partidos encontrados: {{listaPartidos|length}}
                        </div>

                        {% for item in listaPartidos %}

                            <div style="margin-top:10px;">
                                
                                <div><hr></div>
                                
                                <div>
                                    {{item.Date}}
                                </div>
                                <div>
                                    {% if item.FTR=='H' %}
                                        <b>{{item.HomeTeam}}</b>
                                    {% else %}    
                                        {{item.HomeTeam}}
                                    {% endif %}

                                    {{item.FTHG}} - {{item.FTAG}} 

                                    {% if item.FTR=='A' %}
                                        <b>{{item.AwayTeam}}</b>
                                    {% else %}    
                                        {{item.AwayTeam}}
                                    {% endif %}
                                </div>

                                <div>
                                    {% if item.FTR=='H' %} 
                                        <b>{{item.B365H}}</b>
                                    {% else %}
                                        {{item.B365H}}
                                    {% endif %}
                                    - 
                                    {% if item.FTR=='D' %} 
                                        <b>{{item.B365D}}</b>
                                    {% else %}
                                        {{item.B365D}}
                                    {% endif %}
                                    -
                                    {% if item.FTR=='A' %} 
                                        <b>{{item.B365A}}</b>
                                    {% else %}
                                        {{item.B365A}}
                                    {% endif %}
                                    -
                                    [{{item.riesgo}}]
                                </div>
                            </div>

                            <!-- $auxPartido->FTR -->
                        {% endfor %}
                        
                        <div><hr></div>
                        
                    {% endif %}
                    
                </div>
                    
                <div class="col-md-4">
                
                </div>
            </div>
        </div>

        {% include 'a_script.twig' %}
    </body>
</html>