<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'a_meta.twig' %}
        <title>bet | stats</title>
        {% include 'a_css.twig' %}
    </head>

    <body>

        {% include 'a_nav.twig' %}

        <div class="container">
                
            <div class="row">
                <div class="col-md-12">
                    <h3>Elija un equipo para consultar sus estadísticas.</h3>
                </div>
            </div>
                            
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="post">
                    
                        <div style="padding: 5px;">
                            <select class="form-control" name="temp">
                                <option value="todas">Todas</option>
                                {% for item in aTemporadas %}
                                    <option value="{{item}}" {% if item==temp %} selected {% endif %} >{{item|replace('_','/')}}</option>
                                {% endfor %}
                            </select>
                        </div>
                            
                        <div style="padding: 5px;">
                            <select class="form-control" name="team1">
                                <option>Elija un equipo</option>
                                {% for item in aEquipos %}
                                    <option value="{{item}}" {% if item==team1 %} selected {% endif %} >{{item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div style="padding: 5px;">
                            <select class="form-control" name="accion">
                                <option>Elija una opción</option>
                                <option value="rachas" {% if accion=='rachas' %} selected {% endif %}>Rachas</option>
                            </select>
                        </div>    
                            
                        <div style="padding: 5px;">
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>
                        
                        <input type="hidden" name="pagina" value="equipo">
                    </form>
                </div>
            
                <div class="col-md-4"></div>
                    
                <div class="col-md-4"></div>
            </div>
        </div>

        {% include 'a_script.twig' %}
    </body>
</html>