<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'a_meta.twig' %}
        <title>bet | stats</title>
        {% include 'a_css.twig' %}
    </head>

    <body>

        {% include 'a_nav.twig' %}

        <div class="container">
                
            <div class="row">
                <div class="col-md-12">
                    <h3>Estadísticas</h3>
                </div>
            </div>
        </div>

        {% include 'a_script.twig' %}
    </body>
</html>{# empty Twig template #}
