<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'a_meta.twig' %}
        <title>teeckets | admin</title>
        {% include 'a_css.twig' %}
    </head>

    <body>

        {% include 'a_nav.twig' %}

        <div class="container">
                
            <div class="starter-template">
                <h1>Menú de administración de promotores en teeckets</h1>
                <p class="lead">Elija una de las opciones para la administración.</p>
            </div>

        </div>

        {% include 'a_script.twig' %}
    </body>
</html>