<!DOCTYPE html>
<html lang="es">
    <head>
        {% include 'a_meta.twig' %}
        <title>bet | stats</title>
        {% include 'a_css.twig' %}
    </head>

    <body>

        {% include 'a_nav.twig' %}

        <div class="container">
                
            <div class="row">
                <div class="col-md-12">
                    <h3>Elija la temporada para mostrar las estadisticas.</h3>
                </div>
            </div>
                            
            <div class="row">
                <div class="col-md-4">
                    <form action="" method="post">
                    
                        <div style="padding: 5px;">
                            <select class="form-control" name="temp">
                                <option value="todas">Todas</option>
                                {% for item in aTemporadas %}
                                    <option value="{{item}}" {% if item==temp %} selected {% endif %} >{{item|replace('_','/')}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="padding: 5px;">
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>
                        
                        <input type="hidden" name="pagina" value="temporada">
                        <input type="hidden" name="accion" value="buscar">

                    </form>
                </div>
                            
                <div class="col-md-4">
                    
                    {% if temp!='todas' %}
                        
                        <div>
                            riesgo: {{temporada.riesgo}}
                        </div>
                        
                        <div><hr></div>
                        
                        <div>
                            victorias locales: {{temporada.vicLocal}}
                        </div>
                        <div>
                            empates: {{temporada.vicEmpat}}
                        </div>
                        <div>
                            victorias visitantes: {{temporada.vicVisit}}
                        </div>
                        
                        <div><hr></div>
                        
                        <div>
                            goles locales: {{temporada.golLocal}}
                        </div>
                        <div>
                            goles visitantes: {{temporada.golVisit}}
                        </div>
                        <div>
                            goles totales: {{temporada.golTotal}}
                        </div>
                        
                        <div><hr></div>
                        
                        <div>
                            <div>
                                Goles por partido:
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <table style="width:100%;max-width:200px;">
                                    {% for key,value in temporada.aResSum %}
                                        <tr>                                            
                                            <td align="right">{{ value }}</td>
                                            <td align="right">de {{ key }} goles</td>
                                            <td align="right" width="">{{ attribute(temporada.aResSumProb, key) }} %</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                                
                        <div><hr></div>
                        
                        <div>
                            <div>
                                Relación de resultados más repetidos:
                            </div>
                            <div>
                                &nbsp;
                            </div>
                            <div>
                                <table style="width:100%;max-width:200px;">
                                    {% for key,value in temporada.aResult %}
                                        <tr>                                            
                                            <td align="right">{{ value }}</td>
                                            <td align="right">de {{ key }} goles</td>
                                            <td align="right" width="">{{ attribute(temporada.aResultProb, key) }} %</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    
                        <div><hr></div>
                        
                    {% endif %}
                </div>
                
                <div class="col-md-4"></div>
            </div>
        </div>

        {% include 'a_script.twig' %}
    </body>
</html>